<!DOCTYPE html>
<html lang='es'>
  <header>
  </header>
  <section>
  <h1>Reutilizacion de censo</h1>
    <div id="voting_antiguo">
        <form method="GET" action="/census/reuse/">
        <h3>ID de la votacion antigua</h3>
        <select id="voting_id_antiguo">
          {% for v in votings %}
            <option label="{{v}}" value="{{v}}">
          {% endfor %}
        </select>
        </form>
     </div> 
      <div id="voting_nuevo">
      	  <form method="GET" action="/census/reuse/">
      	  <h3>ID de la votacion nueva</h3>
          <select id="voting_id_nuevo">
          {% for v in votingsW %}
            <option label="{{v}}" value="{{v}}">
          {% endfor %}
        </select><br><br>
        <input type="button" value="Reutilizar" onClick="send()"/>
        </form>
    </div>
  </section>
<script type="text/javascript">
  function send(){
    var data_antiguo = document.querySelector("#voting_id_antiguo").value;
    var data_nuevo = document.querySelector("#voting_id_nuevo").value;
    location.href = "/census/reuse/?voting_id_antiguo="+data_antiguo+"&voting_id_nuevo="+data_nuevo;

  }
</script>
  
  
</html>