<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>{% block title %}Decide censos{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
    	<header>
    		<nav class="navbar navbar-default">
  				<div class="container-fluid">
    			<div class="navbar-header">
      			<a class="navbar-brand" href="/census/home">Censos</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/census/create">Crear censo</a></li>
      				<li><a href="/census/voting">Votantes por votación</a></li>
      				<li><a href="/census/import">Importar censo</a></li>
    			</ul>
  				</div>
			</nav>  
    	</header>
        {% block content %}
        {% endblock %}

        {% block extrabody %}{% endblock %}
    </body>
</html>