<!DOCTYPE html>
<html lang='es'>
<style>
body {background-color: lightblue;}
</style>
  <head>
	<title>Creacion de censo</title>
  </head>
  <body >
  
    <h1>Crear censo</h1>
   
    <form action="" method="post">
     <div>
        <label for="id_voting">Id Voting:</label>
        <input type="number" id="voting" />
    </div>
    <div>
        <label for="id_voter">Id Voter:</label>
        <input type="number" id="voter" />
    </div>
   
	</form>
	
	<input type="button" value="Guardar">
  </body>
</html>