{% extends 'census/censusBase.html' %}
{% load render_table from django_tables2 %}
{% block title %} Importar censo {% endblock %}
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
{% block content%}
<body>
<h3>Importar censo</h3>



<br>


<br>
  <form method="post" enctype="multipart/form-data" action="/census/importcsv">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload csv</button>
  </form>
</br>


<br>
  <form method="post" enctype="multipart/form-data" action="/census/importjson">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload json</button>
  </form>
</br>

{% endblock %}
