
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html>
<head>
<title>app</title>
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<h1>Censos</h1>



<br>
<form action="/census/exportexcel">
    <input type="submit" value="Export as xlsx" />
</form>

<form action="/census/exportcsv">
    <input type="submit" value="Export as csv" />
</form>

<form action="/census/importcsv">
    <input type="submit" value="Import from csv" />
</form>
<br>
<form action="/census/exportjson">
    <input type="submit" value="Export from JSON" />
</form>
<form action="/census/importjson">
    <input type="submit" value="Import from JSON" />
</form>
<br>



</body>
</html>