{% extends 'census/censusBase.html' %}
{% block title %} Selecciona votaci&oacute;n {% endblock %}
{% block content %}
<h3>Selecciona votaci&oacute;n para ver sus votantes</h3>
    <div id="voting">
        <form method="GET" action="/census/voters/">
        <select id="voting_id">
        	{% for v in votings %}
        		<option label="{{v.name}}" value="{{v.id}}">
        	{% endfor %}
        </select>
          
        <input type="button" value="Enviar" onClick="send()"/>
        </form>
    </div>
{% endblock %}
{% block extrabody %}
  
<script type="text/javascript">
	function send(){
		var data = document.querySelector("#voting_id").value;
		location.href = "/census/voters/?voting_id="+data;
	}
</script>
{% endblock %}